/*---------- about-us ----------*/
.about-us {
  position: relative;
  margin: 0 auto;
  padding: 100px 30px 25px;
  background-color: #fff;
  overflow: hidden;

  &__title {
    margin: 90px 0 20px;
    color: #293A5A;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: .6px;
    @include title();
    text-align: center;
  }

  &__content {
    max-width: 1163px;
    margin: 0 auto;
    color: #3F4551;
    @include main-font;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .2px;

    h2 {
      position: relative;
      margin-bottom: 89px;
      color: #3F4551;
      @include subtitle-bold();
      font-size: 28px;
      line-height: 35px;
      letter-spacing: .6px;
      text-align: center;

      &:after{
        position: absolute;
        top: 100%;
        left: 50%;
        box-sizing: border-box;
        height: 14px;
        width: 14px;
        margin: 36px 0 0 -3px;
        border-radius: 50%;
        border: 4px solid #0200FF;
        content: '';
      }

    }

    p {
      max-width: 585px;
      margin: 0 auto 14px;

      i {
        color: #0200FF;
        font-style: normal;
      }

    }

    img {
      display: block;
      width: 100%;
    }

    &-half {

      > div {
        padding-bottom: 14px;
      }
    }

    a{
      color: #0200FF;
      text-decoration: underline;
    }

  }

  &__pic {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #fff;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      content: '';
      background-color: rgba(2,0,255,0.7);
      backface-visibility: hidden;
    }

    img {
      display: block;
      position: relative;
      width: 100%;
      z-index: 2;
    }
  }

}
@media (min-width: $phone-landscape) {
  .about-us {

  }
}
@media (min-width: $tablet-portrait) {
  .about-us {

  }
}
@media (min-width: $tablet-landscape) {
  .about-us {
    padding: 205px 20px 0;

    &__title {
      margin: 196px 0 84px;
      color: #3F4551;
      font-size: 50px;
      line-height: 1;
      letter-spacing: .6px;
    }

    &__content {
      font-size: 16px;
      line-height: 30px;
      text-align: center;

      h2 {
        margin-bottom: 122px;
        font-size: 54px;
        line-height: 1;
        letter-spacing: -.8px;

        &:after{
          margin-top: 52px;
        }

      }

      p {
        margin-bottom: 21px
      }

      &-half {
        display: flex;
        padding: 116px 0 0;
        margin: 0 -11px;

        > div {
          width: 50%;
          padding: 2px 2px 9px 59px;

          &:first-child { padding: 0 50px 0 0 }
        }

        p {
          margin-bottom: 28px;
        }
      }
    }

  }
}
@media (min-width: $desktop) {
  .about-us {

  }
}
/*---------- /about-us ---------*/

