@-webkit-keyframes arrowDown {
  0%{
    transform: translateY(0)
  }
  25% {
    transform: translateY(1px)
  }
  75% {
    transform: translateY(-4px)
  }
  100%{
    transform: translateY(0)
  }
}

@keyframes arrowDown {
  0%{
    transform: translateY(0)
  }
  25% {
    transform: translateY(1px)
  }
  75% {
    transform: translateY(-4px)
  }
  100%{
    transform: translateY(0)
  }
}
/* ---------------- preloader -------------------- */
@-webkit-keyframes preloader-1{
  0% {
    left: 50%;
    right: 50%;
  }
  9% {
    left: 50%;
    right: 0;
  }
  45% {
    left: 50%;
    right: 0;
  }
  54% {
    left: 100%;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}
@keyframes preloader-1{
  0% {
    left: 50%;
    right: 50%;
  }
  9% {
    left: 50%;
    right: 0;
  }
  45% {
    left: 50%;
    right: 0;
  }
  54% {
    left: 100%;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}
@-webkit-keyframes preloader-2{
  0% {
    top: 0;
    bottom: 100%;
  }
  9% {
    top: 0;
    bottom: 100%;
  }
  18% {
    top: 0;
    bottom: 0;
  }
  54% {
    top: 0;
    bottom: 0;
  }
  63% {
    top: 100%;
    bottom: 0;
  }
  100% {
    top: 100%;
    bottom: 0;
  }
}
@keyframes preloader-2{
  0% {
    top: 0;
    bottom: 100%;
  }
  9% {
    top: 0;
    bottom: 100%;
  }
  18% {
    top: 0;
    bottom: 0;
  }
  54% {
    top: 0;
    bottom: 0;
  }
  63% {
    top: 100%;
    bottom: 0;
  }
  100% {
    top: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes preloader-3{
  0% {
    right: 0;
    left: 100%;
  }
  18% {
    right: 0;
    left: 100%;
  }
  27% {
    right: 0;
    left: 0;
  }
  63% {
    right: 0;
    left: 0;
  }
  72% {
    right: 100%;
    left: 0;
  }
  100% {
    right: 100%;
    left: 0;
  }
}
@keyframes preloader-3{
  0% {
    right: 0;
    left: 100%;
  }
  18% {
    right: 0;
    left: 100%;
  }
  27% {
    right: 0;
    left: 0;
  }
  63% {
    right: 0;
    left: 0;
  }
  72% {
    right: 100%;
    left: 0;
  }
  100% {
    right: 100%;
    left: 0;
  }
}
@-webkit-keyframes preloader-4{
  0% {
    top: 100%;
    bottom: 0;
  }
  27% {
    top: 100%;
    bottom: 0;
  }
  36% {
    top: 0;
    bottom: 0;
  }
  72% {
    top: 0;
    bottom: 0;
  }
  81% {
    top: 0;
    bottom: 100%;
  }
  100% {
    top: 0;
    bottom: 100%;
  }
}
@keyframes preloader-4{
  0% {
    top: 100%;
    bottom: 0;
  }
  27% {
    top: 100%;
    bottom: 0;
  }
  36% {
    top: 0;
    bottom: 0;
  }
  72% {
    top: 0;
    bottom: 0;
  }
  81% {
    top: 0;
    bottom: 100%;
  }
  100% {
    top: 0;
    bottom: 100%;
  }
}
@-webkit-keyframes preloader-5{
  0% {
    left: 0;
    right: 100%;
  }
  36% {
    left: 0;
    right: 100%;
  }
  45% {
    left: 0;
    right: 50%;
  }
  81% {
    left: 0;
    right: 50%;
  }
  90% {
    left: 50%;
    right: 50%;
  }
  100% {
    left: 50%;
    right: 50%;
  }
}
@keyframes preloader-5{
  0% {
    left: 0;
    right: 100%;
  }
  36% {
    left: 0;
    right: 100%;
  }
  45% {
    left: 0;
    right: 50%;
  }
  81% {
    left: 0;
    right: 50%;
  }
  90% {
    left: 50%;
    right: 50%;
  }
  100% {
    left: 50%;
    right: 50%;
  }
}