/*---------- blog ----------*/
.blog {
  position: relative;
  max-width: 1122px;
  margin: 0 auto;
  padding: 90px 30px 49px;
  z-index: 1;

  &__title {
    display: block;
    position: relative;
    z-index: 2;
    margin-bottom: 22px;
    padding-left: 25px;
    color: #293A5A;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    @include title();
  }

  &__menu {
    width: 100vw;
    margin-left: -30px;
    margin-bottom: 9px;
    padding-left: 54px;
    font-size: 16px;
    line-height: 23px;
    white-space: nowrap;
    @include title();

    &-item,
    &-item:visited {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      min-width: 38px;
      padding: 0 12px;
      margin: 0 6px 11px 0;
      border-radius: 100px;
      color: #FFFFFF;
      text-transform: uppercase;
      background-color: rgba(63,69,81,.2);
      transition: background-color .3s ease-in-out;
      cursor: pointer;
      user-select: none;

      &:hover,
      &.active { background-color: #0200FF }
    }
  }

  &__wrap { padding: 0 5px }

  &__first {
    margin-bottom: 83px;
    background-color: #FFFFFF;

    &-themes {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 9px;
      font-size: 14px;
      line-height: 18px;
      @include title();

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        min-width: 30px;
        padding: 0 10px;
        margin: 0 5px 5px 0;
        border-radius: 100px;
        color: #FFFFFF;
        text-transform: uppercase;
        background-color: rgba(63,69,81,.2);
        cursor: pointer;
        user-select: none;
      }
    }

    &-pic {
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%;
      min-height: 121px;
      height: 37vw;
      z-index: 1;
      background-color: #fff;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        content: '';
        //background-color: rgba(2,0,255,0.7);
        background-color: #F5F5F5;
        transition-delay: .2s;
        backface-visibility: hidden;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: 2;
      }
    }

    &-wrap {
      padding: 15px 17px 13px;
      color: #3F4551;
      font-size: 14px;
      line-height: 20px;

      data {
        display: block;
        margin-bottom: 14px;
        color: #3F4551;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .5px;
        @include subtitle-bold();
      }

      p {
        display: none;
      }
    }

    &-title {
      display: block;
      color: #3F4551;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      @include subtitle-medium();

      span { display: block }
    }

    .btn { display: none }
  }

  &__list {
    padding: 0 10px;
    @include main-font();

    &-item {
      display: block;
      margin-bottom: 26px;
      color: #3F4551;
      font-size: 12px;
      line-height: 16px;
    }

    &-pic {
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%;
      min-height: 180px;
      height: 56vw;
      margin-bottom: 19px;
      z-index: 1;
      background-color: #fff;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        content: '';
        //background-color: rgba(2,0,255,0.7);
        background-color: #F5F5F5;
        transition-delay: .2s;
        backface-visibility: hidden;
      }


      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: 2;
      }

    }

    &-head {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 8px;
      padding: 0 2px;
      color: #3F4551;
      font-size: 13px;
      line-height: 15px;
      @include subtitle-bold();

      li {

        &:after {
          padding: 0 6px;
          content: '|';
        }

        &:last-child:after { display: none }
      }
    }

    &-title {
      display: block;
      margin-bottom: 7px;
      color: #3F4551;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      @include subtitle-medium();

      span { display: block }
    }

    p {
      display: none;
    }
  }
}
@media (min-width: $phone-landscape) {
  .blog {

  }
}
@media (min-width: $tablet-portrait) {
  .blog {

  }
}
@media (min-width: $tablet-landscape) {
  .blog {

  }
}
@media (min-width: $desktop) {
  .blog {
    margin: 0 auto 100px;
    padding: 148px 0 77px;

    &__menu {
      width: 100%;
      padding: 0;
      margin-left: 0;
      margin-bottom: 88px;

      &-item,
      &-item:visited { padding: 0 12px }
    }

    &__title {
      position: absolute;
      top: 192px;
      left: 0;
      margin: 0;
      padding: 0;
      font-size: 67px;
      line-height: 79px;
      color: #3F4551;
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      top: -42px;
      padding: 0 0 0 62px;
    }

    &__first {
      width: 470px;

      &-themes {
        justify-content: flex-start;
        font-size: 16px;
        line-height: 23px;

        li {
          height: 24px;
          min-width: 38px;
          padding: 0 12px;
          margin: 0 11px 11px 0;
        }
      }


      &-pic {
        width: 470px;
        height: 470px;
      }

      &-wrap {
        padding: 30px;
        font-size: 16px;
        line-height: 30px;

        data {
          margin-bottom: 0;
          font-size: 14px;
          line-height: 23px;
          letter-spacing: 1px;
        }

        p {
          display: block;
          margin-bottom: 31px;
        }
      }

      &-title {
        font-size: 28px;
        line-height: 37px;
      }

      .btn {  display: inline-flex }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 535px;
      padding: 128px 0 0 0;

      &-item {
        position: relative;
        width: 240px;
        top: -6px;
        margin-bottom: 63px;
        font-size: 14px;
        line-height: 24px;

        &:nth-child(even) {
          top: 55px;
        }
      }

      &-pic {
        width: 240px;
        height: 240px;
        margin-bottom: 17px;
      }

      &-head {
        justify-content: flex-start;
        margin-bottom: 13px;
        font-size: 15px;
        line-height: 18px;
      }

      &-title {
        margin-bottom: 7px;
        font-size: 18px;
        line-height: 25px;
      }

      p {
        display: block;
      }
    }
  }
}
/*---------- /blog ---------*/

