/*---------- blog ----------*/
.blog {
  position: relative;
  max-width: 1122px;
  margin: 0 auto 30px;
  padding: 100px 30px 30px;
  z-index: 1;
  text-align: center;

  &__title {
    display: block;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    color: #3F4551;
    font-size: 5vh;
    line-height: 9vh;
    text-transform: uppercase;
    @include title();
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 18px;
    @include subtitle-bold();

    &-item,
    &-item:visited {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      min-width: 30px;
      padding: 4px 7px 0;
      margin: 0 5px 5px 0;
      border-radius: 100px;
      color: #FFFFFF;
      text-transform: uppercase;
      background-color: rgba(63,69,81,.2);
      transition: background-color .3s ease-in-out;
      cursor: pointer;
      user-select: none;

      &:hover,
      &.active { background-color: #0200FF }
    }
  }

  &__first {
    margin-bottom: 30px;
    background-color: #FFFFFF;

    &-themes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 9px;
      font-size: 14px;
      line-height: 18px;
      @include subtitle-bold();

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        min-width: 30px;
        padding: 4px 7px 0;
        margin: 0 5px 5px 0;
        border-radius: 100px;
        color: #FFFFFF;
        text-transform: uppercase;
        background-color: rgba(63,69,81,.2);
        cursor: pointer;
        user-select: none;
      }
    }

    &-pic {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: calc(100vw - 60px);
      z-index: 1;
      background-color: #fff;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        content: '';
        background-color: rgba(2,0,255,0.7);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(-100%, 0);
        transition-delay: .2s;
        backface-visibility: hidden;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: 2;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(-100%, 0);
      }

      &.is-show {

        &:before {
          transform: translate(0);
          transition-delay: 0s;
        }

        img {
          transform: translate(0);
          transition-delay: .2s;
        }
      }
    }

    &-wrap {
      padding: 15px;
      color: #3F4551;
      font-size: 14px;
      line-height: 20px;

      data {
        display: block;
        color: #3F4551;
        font-size: 12px;
        line-height: 16px;
        @include subtitle-bold();
      }

      p {
        margin-bottom: 15px;
      }
    }

    &-title {
      display: block;
      color: #3F4551;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      @include subtitle-medium();
    }
  }

  &__list {
    @include main-font();

    &-item {
      display: block;
      margin-bottom: 30px;
      color: #3F4551;
      font-size: 12px;
      line-height: 16px;
    }

    &-pic {
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: calc(100vw - 60px);
      margin-bottom: 8px;
      z-index: 1;
      background-color: #fff;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        content: '';
        background-color: rgba(2,0,255,0.7);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(-100%, 0);
        transition-delay: .2s;
        backface-visibility: hidden;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: 2;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(-100%, 0);
      }

      &.is-show {

        &:before {
          transform: translate(0);
          transition-delay: 0s;
        }

        img {
          transform: translate(0);
          transition-delay: .2s;
        }
      }
    }

    &-head {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 7px;
      color: #3F4551;
      font-size: 13px;
      line-height: 15px;
      @include subtitle-bold();

      li {

        &:after {
          padding: 0 4px;
          content: '|';
        }

        &:last-child:after { display: none }
      }
    }

    &-title {
      display: block;
      margin-bottom: 7px;
      color: #3F4551;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      @include subtitle-medium();
    }
  }
}
@media (min-width: $phone-landscape) {
  .blog {

  }
}
@media (min-width: $tablet-portrait) {
  .blog {

  }
}
@media (min-width: $tablet-landscape) {
  .blog {

  }
}
@media (min-width: $desktop) {
  .blog {
    margin: 0 auto 100px;
    padding: 148px 0 77px;
    text-align: left;

    &__menu {
      justify-content: flex-start;
      font-size: 16px;
      line-height: 23px;

      &-item {
        height: 24px;
        min-width: 38px;
        padding: 4px 12px 0;
        margin: 0 11px 11px 0;
      }
    }

    &__title {
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
      font-size: 67px;
      line-height: 79px;
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      top: -42px;
      padding-left: 62px;
    }

    &__first {
      width: 470px;

      &-themes {
        justify-content: flex-start;
        font-size: 16px;
        line-height: 23px;

        li {
          height: 24px;
          min-width: 38px;
          padding: 4px 12px 0;
          margin: 0 11px 11px 0;
        }
      }


      &-pic {
        width: 470px;
        height: 470px;
      }

      &-wrap {
        padding: 30px;
        font-size: 16px;
        line-height: 30px;

        data {
          font-size: 14px;
          line-height: 23px;
        }

        p { margin-bottom: 31px }
      }

      &-title {
        font-size: 28px;
        line-height: 37px;

        span { display: block }
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 535px;
      padding-top: 128px;

      &-item {
        position: relative;
        width: 240px;
        top: -6px;
        margin-bottom: 63px;
        font-size: 14px;
        line-height: 24px;

        &:nth-child(even) {
          top: 55px;
        }
      }

      &-pic {
        width: 240px;
        height: 240px;
        margin-bottom: 17px;
      }

      &-head {
        justify-content: flex-start;
        margin-bottom: 13px;
        font-size: 15px;
        line-height: 18px;

        li:after { padding: 0 6px }
      }

      &-title {
        margin-bottom: 7px;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}
/*---------- /blog ---------*/

