/*---------- case ----------*/
.case {
  padding: 87px 0 43px;

  &__head {
    max-width: 1122px;
    margin: 0 auto;
    padding: 0 45px 33px 55px;

    .labels { margin-bottom: 9px }

    p {
      margin-bottom: 14px;
      color: #3F4551;
      font-size: 15px;
      line-height: 30px;
    }
  }

  &__title {
    display: block;
    margin-bottom: 7px;
    color: #293A5A;
    font-size: 26px;
    line-height: 36px;
    @include title();
  }

  &__content {
    max-width: 1052px;
    margin: 0 auto 26px;
    padding: 0 35px 0 71px;
    color: #3F4551;
    font-size: 13px;
    line-height: 26px;

    h2 {
      margin-bottom: 12px;
      color: #3F4551;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @include subtitle-medium();
    }

    p {
      margin-bottom: 14px;
    }

    ul {
      margin-bottom: 14px;
      padding: 12px 0;

      li {

        &:before {
          padding-right: 5px;
          content: '-';
        }
      }
    }

    &.bright {
      width: calc(100vw - 74px);
      max-width: 611px;
      margin: 0 auto 32px;
      padding: 31px 34px 23px;
      background-color: #0200FF;
      color: #FFFFFF;
      @include main-font-medium();

      h2 {
        margin-bottom: 16px;
        color: #fff;
      }

      a,
      a:visited {
        color: #fff;
        text-decoration: underline;

        &:hover { text-decoration: none }
      }
    }

    &.light {
      position: relative;
      width: calc(100vw - 67px);
      max-width: 772px;
      left: 10px;
      margin: 0 auto 116px;
      padding: 25px 29px 14px;
      background-color: rgba(63,69,81,.03);
      font-size: 14px;
    }
  }

  &__pic {
    display: block;
    overflow: hidden;
    position: relative;
    height: 87.5vw;
    width: calc(100vw - 40px);
    max-width: 912px;
    max-height: 640px;
    z-index: 1;
    margin: 0 auto 35px;
    background-color: #fff;

    &.case__pic_fullscreen {
      max-width: 1112px;
      margin: 0 auto 108px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      content: '';
      background-color: rgba(2,0,255,0.7);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate(-100%, 0);
      transition-delay: .2s;
      backface-visibility: hidden;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      z-index: 2;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate(-100%, 0);
    }

    &.is-show {

      &:before {
        transform: translate(0);
        transition-delay: 0s;
      }

      img {
        transform: translate(0);
        transition-delay: .2s;
      }
    }
  }

  &__slider {
    position: relative;
    height: 280px;
    max-width: 1162px;
    margin: 0 auto 112px;
    padding: 0 30px;

    &.case__slider_light {
      max-width: 100%;
      margin-bottom: 28px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 100%;
        z-index: 1;
        background-color: #EFEFEF;
        content: '';
      }

      &:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        z-index: 1;
        background-color: #E5E5E5;
        content: '';
      }
    }

    .swiper-container {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      height: 20px;
      width: 41.3px;
      margin-top: -10px;
      z-index: 2;
      opacity: 0.25;
      color: #3F4551;
      transition: opacity .3s ease-in-out;
      cursor: pointer;

      svg { fill: #3F4551 }

      &:hover { opacity: 1 }
    }

    &-prev {
      left: 10px;
      transform: matrix(-1,0,0,1,0,0);
    }
    &-next { right: 10px }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    position: relative;

    a,
    a:visited {
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
      height: 80px;
      width: 50%;
      padding: 0 15px;
      color: #3F4551;
      font-size: 11px;
      line-height: 20px;
      letter-spacing: .1px;
      text-transform: uppercase;
      @include subtitle-bold();

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3F4551;
        transform: scaleX(0);
        transition: transform .7s cubic-bezier(.19,1,.22,1);
        backface-visibility: hidden;
        content: '';
      }

      div {
        position: relative;
        width: 100%;
        transition: color .7s cubic-bezier(.19,1,.22,1);
      }

      &:hover {

        &:before { transform: scaleX(1) }

        div { color: #FFFFFF }
      }
    }

    &-prev {
      justify-content: flex-start;
      background-color: #EFEFEF;

      &:before { transform-origin: left }

      &:hover:before { transform-origin: right }
    }

    &-next {
      justify-content: flex-end;
      text-align: right;
      background-color: #E5E5E5;

      &:before { transform-origin: right }

      &:hover:before { transform-origin: left }
    }

    span {
      overflow: hidden;
      display: block;
      width: 100%;
      font-size: 13px;
      line-height: 18px;
      letter-spacing: .4px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .case__slider + .bright {
    padding-bottom: 15px;
    margin-bottom: 19px;
  }

  .logo { display: none }
}
@media (min-width: $phone-landscape) {
  .case {

  }
}
@media (min-width: $tablet-portrait) {
  .case {

  }
}
@media (min-width: $tablet-landscape) {
  .case {

  }
}
@media (min-width: $desktop) {
  .case {
    padding: 192px 0 55px;

    &__title {
      margin-bottom: 17px;
      color: #3F4551;
      font-size: 67px;
      line-height: 79px;
    }

    &__head {
      padding: 0;
      margin-bottom: 41px;

      &-info {
        margin-top: -44px;
        padding: 0 115px 0 601px;
      }

      p {
        margin-bottom: 20px;
        font-size: 16px;
      }
    }

    &__content {
      padding: 0 570px 0 71px;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 30px;

      h2 {
        margin-bottom: 20px;
        font-size: 28px;
        line-height: 37px;
      }

      p {

      }

      ul {
        padding: 10px 0;

        li {

        }
      }

      &.bright {
        padding: 87px 84px 86px;
        margin-bottom: 63px;
        font-size: 12px;
        line-height: 24px;

        h2 {
          margin-bottom: 19px;
        }

        a,
        a:visited {

        }
      }

      &.light {
        left: 20px;
        padding: 34px 35px 20px;
        margin-bottom: 162px;
        line-height: 26px;
      }
    }

    &__pic {
      margin-bottom: 39px;

      &.case__pic_fullscreen { margin-bottom: 157px }
    }

    &__slider {
      top: 8px;
      height: 640px;
      padding: 0 125px;
      margin-bottom: 193px;

      &.case__slider_light {
        padding: 0 125px;
        margin-bottom: 59px;

        &:before,
        &:after { width: 125px }
      }

      &-prev,
      &-next {
        height: 31.06px;
        width: 112.97px;
        margin-top: -15.5px;

        &:hover {

          &:before {
            left: 76px;
            opacity: 1;
            letter-spacing: 40px;
          }
        }
      }

      &-prev {
        left: 53px;

        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          padding-left: 49px;
          opacity: 0;
          transform: rotate(270deg) translate(-50%,-50%) matrix(1,0,0,-1,0,0);
          transform-origin: left;
          color: #3F4551;
          font-size: 12px;
          letter-spacing: 140px;
          line-height: 15px;
          text-align: center;
          text-transform: uppercase;
          content: 'prev';
          transition: all .3s ease-in-out;
          pointer-events: none;
          @include subtitle-medium();
        }
      }
      &-next {
        right: 53px;

        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          padding-left: 49px;
          opacity: 0;
          transform: rotate(270deg) translate(-50%,-50%);
          transform-origin: left;
          color: #3F4551;
          font-size: 12px;
          letter-spacing: 140px;
          line-height: 15px;
          text-align: center;
          text-transform: uppercase;
          content: 'next';
          transition: all .3s ease-in-out;
          pointer-events: none;
          @include subtitle-medium();
        }
      }
    }

    &__pagination {

      a,
      a:visited {
        height: 139px;
        padding: 5px 67px 0;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0;
      }

      span {
        padding-top: 8px;
        font-size: 36px;
        line-height: 42px;
        text-transform: none;
      }

      a.case__pagination-prev {
        padding-left: 144px;
      }

      a.case__pagination-next {
        padding-right: 144px;
      }
    }

    .logo {
      display: block;
      margin-bottom: 45px;
      opacity: 0.15;
      text-align: center;

      strong { color: #3F4551 }
    }

    .case__slider+.bright {
      padding-bottom: 96px;
      margin-bottom: 39px;
    }
  }
}
/*---------- /case ---------*/

