/*---------- case ----------*/
.case {
  padding: 90px 0 0;

  img{
    display: block;
    width: 100%;
  }

  &__head {

    .labels { margin-bottom: 9px }

    p {
      margin-bottom: 14px;
      color: #3F4551;
      font-size: 15px;
      line-height: 30px;
    }
  }

  &__title {
    display: block;
    margin-bottom: 7px;
    color: #293A5A;
    font-size: 36px;
    line-height: 42px;
    @include title();
  }

  &__info{
    max-width: 1122px;
    margin: 0 auto;
    padding: 0 33px 22px;
    text-align: center;

    .labels{
      justify-content: center;
    }

  }

  &__preview{

    img{
      display: block;
    }

  }

  &__content{
    padding: 51px 30px 101px;
    color: #3F4551;
    @include main-font;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .1px;

    a{
      color: #0200FF;
      text-decoration: underline;
    }

    i{
      color: #0200FF;
      font-style: normal;
    }

    h1{
      position: relative;
      margin: 50px auto 89px;
      @include subtitle-bold;
      font-size: 31px;
      line-height: 35px;
      text-align: center;

      &:after {
        position: absolute;
        top: 100%;
        left: 50%;
        box-sizing: border-box;
        height: 14px;
        width: 14px;
        margin: 36px 0 0 -3px;
        border-radius: 50%;
        border: 4px solid #0200FF;
        content: '';
      }

    }

    h2 {
      margin-bottom: 33px;
      padding: 0 20px;
      @include subtitle-bold;
      font-size: 23px;
      line-height: 24px;
      text-align: center;
    }

    h3{
      margin: 46px auto 12px;
      padding: 0 20px;
      @include subtitle-bold;
      font-size: 19px;
      line-height: 24px;
      text-align: center;
    }

    ul{
      margin-bottom: 14px;
      padding-top: 14px;

      li{
        position: relative;
        padding-left: 28px;
        margin-bottom: 11px;
        line-height: 20px;

        &:before{
          content: '';
          position: absolute;
          top: 8px;
          left: 0;
          width: 12px;
          border: 1px solid #0200FF;
        }

      }

    }

    ol{
      margin-bottom: 14px;
      padding-top: 14px;
      counter-reset: list 0;

      li{
        position: relative;
        padding-left: 28px;
        margin-bottom: 11px;
        line-height: 20px;

        &:before{
          counter-increment: list;
          content: counter(list) '.';
          position: absolute;
          top: 0;
          left: 0;
          color: #0200FF;
          @include subtitle-bold;
          font-size: 16px;
        }

      }

    }

    &-small{
      background-color: #fff;
    }

  }

  &__split{
    display: block;
    height: 30px;
    width: 30px;
    margin: 36px auto -8px;
    border-radius: 50%;
    border: 10px solid #E2E3E4;
  }

  &__swiper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 44px -30px 0;
  }

  &__slider{
    width: 100%;
    margin-bottom: 19px;
    overflow: hidden;

    img{
      display: block;
      width: 100%;
    }

    &-prev,
    &-next {
      height: 31px;
      width: 34px;
      z-index: 2;
      opacity: 1;
      color: #3F4551;
      transition: opacity .3s ease-in-out;
      cursor: pointer;

      svg { fill: #3F4551 }

      &.swiper-button-disabled{
        opacity: .25;
      }

    }

    &-prev{
      margin-left: 29px;
    }

    &-next{
      margin-right: 29px;
    }

  }

  &__pagination{
    color: #3F4551;
    @include subtitle-bold;
    font-size: 21px;
    line-height: 30px;

    span{
      color: #0200FF;
    }

  }

  &__feedback{
    padding: 54px 35px;
    color: #3F4551;
    @include main-font;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .1px;
    text-align: center;

    h2 {
      margin-bottom: 33px;
      padding: 0 20px;
      @include subtitle-bold;
      font-size: 32px;
      line-height: 32px;
      text-align: center;
    }

  }

  &__ava{
    position: relative;
    width: 127px;
    height: 127px;
    margin: 0 auto 27px;
    border-radius: 50%;
    overflow: hidden;

    img{
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
    }

  }

  &__client{
    padding-top: 38px;

    strong{
      @include subtitle-bold;
      font-size: 18px;
    }

  }

  & + .cases{
    padding: 22px 0 36px;
  }

}
@media (min-width: $phone-landscape) {
  .case {

  }
}
@media (min-width: $tablet-portrait) {
  .case {

  }
}
@media (min-width: $tablet-landscape) {
  .case {

  }
}
@media (min-width: $desktop) {
  .case {
    padding: 115px 0 55px;

    &__title {
      margin-bottom: 17px;
      padding-bottom: 0;
      color: #3F4551;
      font-size: 50px;
      line-height: 59px;
    }

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 45px 0 81px;

      p {
        margin-bottom: 20px;
        font-size: 16px;
      }
    }

    &__info{
      width: 35%;
      margin: 0;
      text-align: left;

      .labels{
        justify-content: flex-start;
      }

    }

    &__preview{
      position: relative;
      width: 65%;
      height: 490px;
      overflow: hidden;

      img{
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
      }

    }

    &__content{
      padding: 203px calc( 50% - 285px) 199px;
      font-size: 16px;
      line-height: 30px;

      p{
        margin-bottom: 11px;
      }

      h1{
        margin-bottom: 123px;
        font-size: 55px;
        line-height: 56px;

        &:after{
          margin-top: 54px;
        }

      }

      h2{
        margin-bottom: 25px;
        font-size: 38px;
        line-height: 43px;
      }

      h3{
        margin: 70px auto 29px;
        font-size: 28px;
      }

      ul{
        margin-left: 24px;
        margin-bottom: 24px;
        padding-top: 21px;

        li{
          margin-bottom: 20px;
          padding-left: 45px;
          line-height: 30px;

          &:before{
            top: 14px;
            width: 21px;
          }

        }

      }

      &-small{
        padding: 152px calc( 50% - 265px ) 199px;
        text-align: center;
      }

    }

    &__split{
      margin: 57px auto -6px;
    }

  }
}
/*---------- /case ---------*/

