/*---------- circle ----------*/
.circle {
  position: absolute;
  height: 519px;
  width: 519px;
  z-index: 1;
  border-radius: 50%;
  box-sizing: border-box;
  border: 99px solid #E2E3E4;

  &.circle_min {
    width: 40px;
    height: 40px;
    border-width: 10px;
  }

  &.circle_little {
    width: 57px;
    height: 57px;
    border-width: 10px;
  }

  &.circle_medium{
    width: 117px;
    height: 117px;
    border-width: 20px;
  }

  &.circle_semi {
    width: 180px;
    height: 180px;
    border-width: 40px;
  }

  &.circle_middle {
    width: 318px;
    height: 318px;
    border-width: 59px;
  }

  &.circle_2 {
    height: 361px;
    width: 361px;
    border-width: 99px;
  }

  &.circle_big {
    height: 631px;
    width: 631px;
    border-width: 99px;
  }

  &.circle_desktop { display: none }
}
@media (min-width: $phone-landscape) {
  .circle {

  }
}
@media (min-width: $tablet-portrait) {
  .circle {

  }
}
@media (min-width: $tablet-landscape) {
  .circle {

  }
}
@media (min-width: $desktop) {
  .circle {

    &.circle_desktop { display: block }
    &.circle_mobile { display: none }
  }
}
/*---------- /circle ---------*/

