/*---------- contacts ----------*/
.contacts {
  position: relative;
  max-width: 1231px;
  margin: 0 auto;
  padding: 90px 20px 25px;

  &__head {
    padding: 0 25px 30px 35px;
    color: #3F4551;
    font-size: 16px;
    line-height: 21px;

    p {
      margin-bottom: 11px;
      letter-spacing: .5px;
      @include subtitle-medium();
    }
  }

  &__title {
    margin-bottom: 12px;
    color: #293A5A;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    letter-spacing: .6px;
    @include title();
  }

  &__24hours {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    @include title();

    &-wrap {
      padding: 20px 23px 27px;
      background-color: #0200FF;
    }

    span {
      display: block;
      padding-bottom: 6px;
      font-size: 13px;
      letter-spacing: 9px;
      line-height: 15px;

      &:first-child {
        padding: 0;
        text-transform: none;
        font-size: 38px;
        letter-spacing: 6px;
        line-height: 47px;
      }
    }
  }

  &__address,
  &__note { display: none }

  &__form {
    padding: 27px 20px 20px;
    background-color: #fff;

    &-title {
      display: block;
      color: #3F4551;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      @include subtitle-medium();
    }

    .request {
      position: relative;
      height: auto;
      width: 100%;

      fieldset {
        padding: 0 10px;
      }

      &:before { display: none }

      .request__form input[type=text],
      .request__form input[type=email] {
        height: 26px;
        border-bottom-width: 1px;
        @include main-font();
      }

      .request__radio {
        padding: 5px 11px 25px;
      }
      .request__range {
        padding: 16px 0 12px;
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .contacts {

  }
}
@media (min-width: $tablet-portrait) {
  .contacts {

  }
}
@media (min-width: $tablet-landscape) {
  .contacts {

  }
}
@media (min-width: $desktop) {
  .contacts {
    padding: 192px 20px 7px;

    &__head {
      padding: 0 25px 30px 35px;
      font-size: 20px;
      line-height: 27px;

      p {
        letter-spacing: .7px;

        span { display: none }
      }
    }

    &__title {
      margin-bottom: 12px;
      color: #3F4551;
      font-size: 67px;
      line-height: 79px;
      letter-spacing: .6px;
    }

    &__24hours {

      &-wrap {
        padding: 69px 71px 91px;
        margin-left: 4px;
      }

      span {
        padding-bottom: 5px;

        &:first-child { line-height: 50px }
      }
    }

    &__address {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 498px;
      left: 54px;
      color: #3F4551;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: .7px;
      @include subtitle-medium();

      a,
      a:visited {
        display: block;
        margin-bottom: 19px;
        color: #3F4551;
        border-bottom: 2px solid transparent;
        transition: border .3s ease-in-out;

        &:hover { border-bottom-color: #3F4551 }

        &.contacts__address-mail {
          color: #0200FF;

          &:hover { border-bottom-color: #0200FF }
        }
      }

      ul {
        margin-bottom: 18px;
      }
    }

    &__note {
      display: block;
      position: absolute;
      top: 474px;
      left: 811px;
      width: calc(100% - 850px);
      color: #3F4551;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: .7px;
      @include subtitle-medium();
    }

    &__form {
      position: relative;
      top: -47px;
      left: 595px;
      width: 570px;
      padding: 60px 83px 60px;

      &-title {
        margin-bottom: 36px;
        font-size: 28px;
        line-height: 37px;
      }

      .request {
        position: relative;
        height: auto;
        width: 100%;

        fieldset { padding: 0 }

        &:before { display: none }

        .request__form input[type=text],
        .request__form input[type=email] {
          height: 27px;
          border-bottom-width: 2px;
        }

        .request__radio {
          padding: 26px 3px 27px;
        }
        .request__range {
          padding: 16px 0 42px;
        }
      }
    }
  }
}
/*---------- /contacts ---------*/

