/*---------- contact-us ----------*/
.contact-us {
  padding: 0 20px;
  text-align: center;
  transform: translate(0, 100px);
  opacity: 0;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;

  &.is-show {
    transform: translate(0,0);
    opacity: 1;
  }

  &__title {
    display: block;
    margin-bottom: -48px;
    color: #3F4551;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: .1px;
    @include subtitle-bold();

    span {
      display: block;
      position: relative;
      top: -31px;
      color: #0200FF;
      font-size: 122px;
      line-height: 193px;
      text-transform: uppercase;
      @include title();
    }
  }

  p {
    padding: 0 10px;
    color: #3F4551;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }

  &__form {
    max-width: 404px;
    margin: 0 auto;
    padding: 53px 12px;

    input[type=text],
    input[type=email],
    textarea {
      height: 35px;
      width: 100%;
      margin-bottom: 21px;
      border-color: rgba(69, 69, 81, .2);
      border-style: solid;
      border-width: 0 0 3px 0;
      color: #3F4551;
      background: transparent;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      box-sizing: border-box;
      border-radius: 0;
      caret-color: #0200FF;
      @include main-font();

      &::-webkit-input-placeholder {
        color: #AAABAF;
      }
      &::-moz-placeholder {
        color: #AAABAF;
      }
      &:-ms-input-placeholder {
        color: #AAABAF;
      }
      &:-moz-placeholder {
        color: #AAABAF;
      }
    }

    input[type=submit] {
      display: none;
    }

    .btn {
      width: 100%;
      margin-top: 24px;
    }
  }
}
@media (min-width: $phone-landscape) {
  .contact-us {

  }
}
@media (min-width: $tablet-portrait) {
  .contact-us {

  }
}
@media (min-width: $tablet-landscape) {
  .contact-us {

  }
}
@media (min-width: $desktop) {
  .contact-us {
    padding: 0;

    &__title {
      margin-bottom: 12px;
      font-size: 24px;
      line-height: 27px;
      letter-spacing: normal;

      span {
        top: 0;
        font-size: 172px;
        line-height: 176px;
      }
    }

    p {
      padding: 0;
      font-size: 16px;
      line-height: 30px;
    }

    &__form {
      padding: 70px 0;

      input[type=text],
      input[type=email],
      textarea {
        height: 27px;
        margin-bottom: 27px;
        font-size: 20px;
        line-height: 25px;
      }

      .btn {
        width: auto;
        margin-top: 29px;
      }
    }
  }
}
/*---------- /contact-us ---------*/