/*---------- instagramm-slider ----------*/
.instagramm-slider {
  position: relative;
  width: 100%;

  .swiper-slide {
    display: block;
    height: 25vw;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (min-width: $phone-landscape) {
  .instagramm-slider {

  }
}
@media (min-width: $tablet-portrait) {
  .instagramm-slider {

  }
}
@media (min-width: $tablet-landscape) {
  .instagramm-slider {

  }
}
@media (min-width: $desktop) {
  .instagramm-slider {

    .swiper-slide { height: calc(100vw/5) }
  }
}
/*---------- /instagramm-slider ---------*/

