//fonts
@mixin main-font() {
  font-family: "KohinoorBangla-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin main-font-bold() {
  font-family: "KohinoorBangla-Bold", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin main-font-medium() {
  font-family: "KohinoorBangla-Medium", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin main-font-light() {
  font-family: "KohinoorBangla-Light", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin title() {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-style: normal;
}
@mixin subtitle-medium() {
  font-family: 'Futura-Medium', sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin subtitle-bold() {
  font-family: 'Futura-Bold', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}
@mixin absoluteCenterX() {
  position: absolute;
  left: 50%;
  transform: translateX( -50% );
}
@mixin absoluteCenterY() {
  position: absolute;
  top: 50%;
  transform: translateY( -50% );
}