.nice-radio {
  display: block;
  user-select: none;
  margin-bottom: 8px;

  input[ type = radio ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {
      color: #3F4551;

      &:before {
        opacity: 1;
      }

    }

    &:disabled + label {
      cursor: default;
      opacity: .5;
    }

  }
  label {
    position: relative;
    text-align: left;
    height: 20px;
    padding-left: 31px;
    color: #AAABAF;
    cursor: pointer;
    transition: color .3s ease-in-out;

    &:after,
    &:before {
      @include absoluteCenterY();
      border-radius: 50%;
      box-sizing: border-box;
      content: '';
    }

    &:after {
      left: 0;
      height: 18px;
      width: 18px;
      border: 1px solid #3F4551;
    }

    &:before {
      opacity: 0;
      left: 5px;
      height: 8px;
      width: 8px;
      background-color: #0200FF;
      transition: opacity .3s ease-in-out;
    }

  }

}