/*---------- request ----------*/
.request {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 1;
  transition: width .3s linear .3s;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
    background-color: rgba(2, 0, 255, 0.7);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(100%, 0);
    transition-delay: .2s;
    backface-visibility: hidden;
  }

  &.open {
    width: 100%;
    transition-delay: 0s;

    &:before {
      transform: translate(0);
      transition-delay: 0s;
    }

    .request__wrap {
      transform: translate(0);
      transition-delay: .2s;
    }

    .request__title {

      @for $i from 0 through 5 {
        .request__title-item:nth-child(#{$i}):after {
          transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1) (.3s + .05s * $i), opacity .3s ease-in-out (.7s + .05s * $i);
        }
      }

      @for $i from 0 through 5 {
        .request__title-item:nth-child(#{$i}) span {
          transition: top .3s cubic-bezier(0.4, 0, 0.2, 1) (.5s + .05s * $i);
        }
      }

      &-item {

        &:after {
          transform: translate(0);
          opacity: 0;
        }

        span {
          top: 0
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 32px;
    width: 32px;
    z-index: 3;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 1px;
      background-color: #C9CED8;
      transition: all .3s ease-in-out;
      transform-origin: center;
      content: '';
    }
    &:before {
      bottom: calc(50% - 2px);
      transform: rotate(45deg);
    }
    &:after {
      top: calc(50% - 2px);
      transform: rotate(-45deg);
    }

    &:hover {

      &:before,
      &:after {
        background-color: #0200FF
      }
    }
  }

  &__wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 668px;
    height: 100%;
    z-index: 2;
    padding: 30px 40px 0;
    //padding: 70px 40px 63px;
    background-color: #fff;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(100%, 0);
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    //margin-bottom: 26px;
    @include title();

    &-item {
      display: block;
      overflow: hidden;
      position: relative;
      color: #293A5A;
      font-size: 36px;
      text-transform: uppercase;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #293A5A;
        transform: translate(100%, 0);
        transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1), opacity .3s ease-in-out;
        content: '';
      }

      span {
        position: relative;
        top: 1.5em;
        transition: top .3s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  &__range {
    padding: 5px 0;
    //padding: 13px 0 17px;
    text-align: center;
    color: #AAABAF;
    font-size: 30px;
    line-height: 46px;

    &:before {
      content: '$';
    }
  }

  &__radio {
    padding: 5px 11px 10px;
    //padding: 5px 11px 28px;

    p {
      margin-bottom: 15px;
    }
  }

  &__form {
    color: #3F4551;
    font-size: 16px;
    line-height: 25px;

    .wpcf7-list-item-label {
      display: none
    }

    input[type=text],
    input[type=email],
    textarea {
      height: 26px;
      width: 100%;
      margin-bottom: 20px;
      //margin-bottom: 32px;
      border-color: rgba(69, 69, 81, .2);;
      border-style: solid;
      border-width: 0 0 3px 0;
      color: #3F4551;
      background: transparent;
      font-size: 16px;
      line-height: 25px;
      box-sizing: border-box;
      border-radius: 0;
      caret-color: #0200FF;
      @include main-font();

      &::-webkit-input-placeholder {
        color: #AAABAF;
      }
      &::-moz-placeholder {
        color: #AAABAF;
      }
      &:-ms-input-placeholder {
        color: #AAABAF;
      }
      &:-moz-placeholder {
        color: #AAABAF;
      }
    }

    input[type=submit] {
      display: none;
    }

    .btn {
      width: 100%;
      margin-top: 15px;
    }

    $track-color: rgba(63, 69, 81, .1) !default;
    $thumb-color: #0200FF !default;

    $thumb-radius: 20px !default;
    $thumb-height: 40px !default;
    $thumb-width: 40px !default;

    $track-width: 100% !default;
    $track-height: 8px !default;
    //$track-height: 10px !default;

    $track-radius: 6px !default;
    $contrast: 5% !default;

    @mixin track {
      cursor: pointer;
      height: $track-height;
      transition: all .2s ease;
      width: $track-width;
    }

    @mixin thumb {
      background: $thumb-color url(../img/range-thumb.svg) no-repeat center;
      background-size: contain;
      border: 1px solid $thumb-color;
      border-radius: $thumb-radius;
      cursor: pointer;
      height: $thumb-height;
      width: $thumb-width;
    }

    [type='range'] {
      -webkit-appearance: none;
      margin: $thumb-height / 2 0;
      width: $track-width;

      &:focus {
        outline: 0;

        &::-webkit-slider-runnable-track {
          background: lighten($track-color, $contrast);
        }

        &::-ms-fill-lower {
          background: $track-color;
        }

        &::-ms-fill-upper {
          background: lighten($track-color, $contrast);
        }
      }

      &::-webkit-slider-runnable-track {
        @include track;
        background: $track-color;
        border-radius: $track-radius;
      }

      &::-webkit-slider-thumb {
        @include thumb;
        -webkit-appearance: none;
        margin-top: (($track-height) / 2) - ($thumb-height / 2);
      }

      &::-moz-range-track {
        @include track;
        background: $track-color;
        border-radius: $track-radius;
      }

      &::-moz-range-thumb {
        @include thumb;
      }

      &::-ms-track {
        @include track;
        background: transparent;
        border-color: transparent;
        border-width: ($thumb-height / 2) 0;
        color: transparent;
      }

      &::-ms-fill-lower {
        background: darken($track-color, $contrast);
        border-radius: $track-radius * 2;
      }

      &::-ms-fill-upper {
        background: $track-color;
        border-radius: $track-radius * 2;
      }

      &::-ms-thumb {
        @include thumb;
        margin-top: 0;
      }
    }
  }

}

@media (min-width: $phone-landscape) {
  .request {

  }
}

@media (min-width: $tablet-portrait) {
  .request {

  }
}

@media (min-width: $tablet-landscape) {
  .request {

  }
}

@media (min-width: $desktop) {
  .request {

    &__close {
      top: 48px;
      right: 50px;

      &:before,
      &:after {
        height: 6px
      }
      &:before {
        bottom: calc(50% - 4.5px)
      }
      &:after {
        top: calc(50% - 1.5px)
      }
    }

    &__title {
      margin-bottom: 50px;

      &-item {
        font-size: 66px;
        line-height: 67px;
      }
    }

    &__wrap {
      padding: 144px 125px 51px 139px
    }

    &__radio {
      padding: 25px 0 21px;

      p {
        margin-bottom: 14px;
      }

      .nice-radio {
        margin-left: 3px;
        margin-bottom: 7px;

        label{
          padding-left: 28px;

          &:before{
            height: 7px;
            width: 7px;
          }

          &:after{
            height: 17px;
            width: 17px;
          }

        }

      }
    }

    &__range {
      padding: 6px 0 32px
    }

    &__form {
      font-size: 16px;
      line-height: 25px;

      input[type=text],
      input[type=email],
      textarea {
        margin-bottom: 29px;
        font-size: 16px;
        line-height: 25px;
      }
    }

    .btn {
      width: auto
    }
  }
}

/*---------- /request ---------*/

