/*---------- showing-text ----------*/
.showing-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 33px;
  @include title();

  &.is-show {

    @for $i from 0 through 5 {
      .showing-text__item:nth-child(#{$i}):after {
        transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1) (.3s + .2s * $i), opacity .3s ease-in-out (.7s + .2s * $i);
      }
    }

    @for $i from 0 through 5 {
      .showing-text__item:nth-child(#{$i}) span {
        transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1) (.5s + .2s * $i);
      }
    }

    .showing-text__item {

      &:after {
        transform: translate(0);
        opacity: 0;
      }

      span { transform: translate(0) }
    }
  }

  &__item {
    display: block;
    overflow: hidden;
    position: relative;
    color: #293A5A;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #293A5A;
      transform: translate(-100%, 0);
      transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1), opacity .3s ease-in-out;
      content: '';
    }

    span {
      position: relative;
      display: block;
      transform: translate(0, 1.5em);
      transition: transform .3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
@media (min-width: $phone-landscape) {
  .showing-text {

  }
}
@media (min-width: $tablet-portrait) {
  .showing-text {

  }
}
@media (min-width: $tablet-landscape) {
  .showing-text {

  }
}
@media (min-width: $desktop) {
  .showing-text {

    &__item {
      font-size: 66px;
      line-height: 67px;
    }
  }
}
/*---------- /showing-text ---------*/

