/*---------- social ----------*/
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 19px;
    height: 58px;

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
@media (min-width: $phone-landscape) {
  .social {

  }
}
@media (min-width: $tablet-portrait) {
  .social {

  }
}
@media (min-width: $tablet-landscape) {
  .social {

  }
}
@media (min-width: $desktop) {
  .social {

  }
}
/*---------- /social ---------*/

