/*---------- tabs ----------*/
.tabs {
  position: relative;
  z-index: 1;

  &__controls {
    display: inline-flex;
    position: relative;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    border-radius: 100px;
    padding: 0 2px;

    &:before {
      position: absolute;
      top: -4px;
      right: -4px;
      bottom: -4px;
      left: -4px;
      border-radius: 100px;
      background-color: #FFFFFF;
      pointer-events: none;
      content: '';
    }

    &-slider {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 1;
      border-radius: 100px;
      background-color: #0200FF;
      transition: left .15s linear, width .15s linear;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;

      span {
        position: relative;
        padding: 1px 13px 0;
        z-index: 2;
        color: #B0B1B5;
        font-size: 14px;
        line-height: 23px;
        text-transform: uppercase;
        transition: color .15s linear;
        @include subtitle-bold();
      }

      &.active span {
        color: #fff;
      }
    }
  }

  &__content {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    transition: height .3s ease-in-out;

    &-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      pointer-events: none;
      opacity: 0;
      transition: opacity .3s ease-in-out;

      &.active {
        opacity: 1;
        pointer-events: fill;
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .tabs {

  }
}
@media (min-width: $tablet-portrait) {
  .tabs {

  }
}
@media (min-width: $tablet-landscape) {
  .tabs {

  }
}
@media (min-width: $desktop) {
  .tabs {

  }
}
/*---------- /tabs ---------*/

