/*---------- team ----------*/
.team {
  position: relative;
  max-width: 935px;
  margin: 0 auto;
  padding: 30px 40px;
  z-index: 1;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 11px;
  }

  &__item {
    display: block;
    position: relative;
    width: calc(100vw - 68px);
    height: calc(100vw - 66px);
    max-width: 440px;
    max-height: 440px;
    margin-bottom: 80px;
    background-color: #fff;
    transform: translate(-15px, 0px);

    &:nth-child(even) {
      transform: translate(15px, 0)
    }

    &-pic {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        content: '';
        background-color: rgba(2,0,255,0.7);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(-100%, 0);
        transition-delay: .2s;
        backface-visibility: hidden;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: 2;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(-100%, 0);
      }

      &.is-show {

        &:before {
          transform: translate(0);
          transition-delay: 0s;
        }

        img {
          transform: translate(0);
          transition-delay: .2s;
        }
      }
    }

    &.mobile-hide { display: none }

    &-footer {
      position: absolute;
      bottom: -40px;
      left: -12px;
      width: 100%;
      z-index: 3;
      text-align: left;
    }

    &-name {
      display: block;
      color: #0200FF;
      font-size: 30px;
      line-height: 42px;
      text-transform: uppercase;
      @include title();
    }

    &-proffesion {
      color: #3F4551;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 1.1px;
      text-transform: uppercase;
      @include subtitle-medium();
    }
  }
}
@media (min-width: $phone-landscape) {
  .team {

  }
}
@media (min-width: $tablet-portrait) {
  .team {

  }
}
@media (min-width: $tablet-landscape) {
  .team {
    margin: 0 auto 100px;
    padding: 81px 0 0 0;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
    }

    &__item {
      top: -32px;
      margin-bottom: 140px;

      &:nth-child(even) {
        top: 55px;
      }

      &.mobile-hide { display: block }

      &-footer {
        bottom: -78px;
        left: -18px;
      }

      &-name {
        font-size: 54px;
        line-height: 64px;
      }

      &-proffesion {
        padding-top: 9px;
        font-size: 28px;
        line-height: 37px;
      }
    }

  }
}
@media (min-width: $desktop) {
  .team {

  }
}
/*---------- /team ---------*/

