/*---------- testimonials ----------*/
.testimonials {
  position: relative;
  margin: 0 auto 100px;
  padding: 0 30px;
  max-width: 800px;

  &:before {
    position: absolute;
    top: 15px;
    right: 17px;
    bottom: 15px;
    left: 17px;
    z-index: 1;
    background-color: #FFFFFF;
    box-shadow: 0 2px 25px 17px rgba(57,80,118,0.06);
    content: '';
  }

  &__title {
    position: absolute;
    top: 27px;
    left: -57px;
    z-index: 3;
    transform: rotate(-90deg);
    transform-origin: top right;
    color: #3F4551;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: .3px;
    @include subtitle-bold();
  }

  .swiper-container {
    position: relative;
    width: 100%;
    z-index: 2;
    perspective: 10200px;
  }

  .swiper-slide {
    position: relative;
    z-index: 2;
    color: #3F4551;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 25px 0 rgba(57,80,118,0.09);
  }
  .swiper-pagination {
    @include absoluteCenterX();
    bottom: 33px;
  }

  .swiper-pagination-bullet {
    box-sizing: border-box;
    height: 10px;
    width: 10px;
    margin: 0 10px;
    border: 1px solid #3F4551;
    background-color: transparent;
  }

  .swiper-pagination-bullet-active {
    border-color: #fff;
    background-color: #3F4551;
  }

  &__item {
    justify-content: center;
    height: 485px;
    max-width: 460px;
    margin: 0 auto;
    padding: 30px 10px 40px;
    text-align: center;
    color: #3F4551;
    font-size: 15px;
    line-height: 25px;

    p { margin-bottom: 30px }
  }

  &__ava {
    display: block;
    position: relative;
    width: 127px;
    height: 127px;
    margin: 0 auto 23px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__name {
    display: block;
    margin-bottom: 4px;
    color: #3F4551;
    font-size: 21px;
    line-height: 25px;
    @include subtitle-bold();
  }

  &__position {
    color: #3F4551;
    font-size: 14px;
    line-height: 20px;
    @include main-font-light();

    span { display: block }
  }
}
@media (min-width: $phone-landscape) {
  .testimonials {

  }
}
@media (min-width: $tablet-portrait) {
  .testimonials {

  }
}
@media (min-width: $tablet-landscape) {
  .testimonials {

  }
}
@media (min-width: $desktop) {
  .testimonials {
    max-width: 1186px;
    padding: 0 99px;
    margin-bottom: 126px;

    &:before {
      position: absolute;
      top: 112px;
      right: 0;
      bottom: 112px;
      left: 0;
    }

    &:after {
      position: absolute;
      top: 50px;
      right: 46px;
      bottom: 50px;
      left: 46px;
      z-index: 1;
      background-color: #FFFFFF;
      box-shadow: 0 2px 25px 17px rgba(57,80,118,0.06);
      content: '';
    }

    .swiper-container { perspective: 1200px }

    &__title {
      font-size: 23px;
      line-height: 27px;
      top: 24px;
      left: -72px;
    }

    &__item {
      height: 562px;
      padding: 83px 30px;
      font-size: 16px;
      line-height: 30px;

      p { margin-bottom: 32px }
    }

    &__ava { margin-bottom: 34px }

    &__name {
      font-size: 23px;
      line-height: 27px;
      margin-bottom: -2px;
    }

    &__position {
      font-size: 14px;
      line-height: 22px;
    }

    .swiper-pagination {
      bottom: 70px;
    }
  }
}
/*---------- /testimonials ---------*/

