/*---------- works ----------*/
.works {
  position: relative;
  max-width: 935px;
  margin: 0 auto 30px;
  padding: 30px;
  z-index: 1;

  &.works_isotope {
    padding: 90px 30px 23px;

    .works__list {
      max-width: 440px;
      margin: 0 auto;
    }

    .works__item {
      width: calc(100vw - 68px);
      height: calc(100vw - 66px);
      margin-bottom: 20px;
      transform: translate(29px, 0px);
      transition: transform .3s linear;

      &:nth-child(even) {
        transform: translate(-22px, 0)
      }

      &.odd {
        transform: translate(29px, 0px);

      }
      &.even {
        transform: translate(-22px, 0)
      }

      &-footer {
        padding: 14px 14px 14px 18px;
      }

      &-text {
        font-size: 11px;
        line-height: 14px;
        letter-spacing: .8px;
      }

      &-data {

        li {
          padding: 1px 10px;
        }
      }
    }
  }

  &__scroll-down { display: none }

  &__title {
    display: block;
    position: relative;
    z-index: 2;
    margin-bottom: 22px;
    padding-left: 15px;
    color: #293A5A;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    @include title();
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__filter {
    width: 100vw;
    margin-bottom: 9px;
    margin-left: -30px;
    padding-left: 44px;
    font-size: 16px;
    line-height: 23px;
    white-space: nowrap;
    @include subtitle-bold();

    &-item,
    &-item:visited {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      min-width: 38px;
      padding: 012px;
      margin: 0 6px 11px 0;
      border-radius: 100px;
      color: #FFFFFF;
      text-transform: uppercase;
      background-color: rgba(63,69,81,.2);
      transition: background-color .3s ease-in-out;
      cursor: pointer;
      user-select: none;

      &:hover,
      &.active { background-color: #0200FF }
    }
  }

  &__item {
    overflow: hidden;
    position: relative;
    width: calc(100vw - 60px);
    height: calc(100vw - 60px);
    max-width: 440px;
    max-height: 440px;
    margin-bottom: 20px;
    z-index: 1;
    background-color: #fff;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      content: '';
      background-color: rgba(2,0,255,0.7);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate(-100%, 0);
      transition-delay: .2s;
      backface-visibility: hidden;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      z-index: 2;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate(-100%, 0);
    }

    &.is-show {

      &:before {
        transform: translate(0);
        transition-delay: 0s;
      }

      img {
        transform: translate(0);
        transition-delay: .2s;
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 3;
      padding: 10px;
      background-color: #fff;
      text-align: left;
    }

    &-text {
      color: #3F4551;
      font-size: 10px;
      line-height: 12px;
      @include subtitle-medium();
    }

    &-data {
      display: flex;
      flex-wrap: wrap;
      color: #FFFFFF;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      @include title();

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        min-width: 28px;
        padding: 1px 4px;
        margin: 2px;
        border-radius: 100px;
        background-color: rgba(63,69,81,.2);
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .works {

  }
}
@media (min-width: $tablet-portrait) {
  .works {

  }
}
@media (min-width: $tablet-landscape) {
  .works {

  }
}
@media (min-width: $desktop) {
  .works {
    margin: 0 auto 100px;
    padding: 100px 0 0 0;

    &.works_isotope {
      margin: 0 auto 105px;
      padding: 148px 0 0 0;
      max-width: 1122px;

      .works__list {
        position: relative;
        top: -47px;
        max-width: 935px;
        margin: 0 auto;
      }

      .works__title {
        position: absolute;
        top: 192px;
        left: 0;
        right: auto;
      }

      .works__item {
        top: 0;
        transform: translate(0, -32px);
        margin-bottom: 55px;

        &:nth-child(even) {
          top: 0;
          transform: translate(55px, 55px)
        }

        &.odd {
          transform: translate(0, -32px);

        }
        &.even {
          transform: translate(55px, 55px);
        }

        &-footer {
          padding: 24px 21px 24px 30px;
        }

        &-text {
          font-size: 12px;
          line-height: 15px;
        }

        &-data {
          font-size: 14px;
          line-height: 23px;

          li {
            height: 24px;
            min-width: 38px;
            padding: 3px 7px;
            margin: 0 5px;
          }
        }
      }
    }

    &__scroll-down {
      display: block;
      position: absolute;
      top: 60vh;
      left: 50%;
      opacity: 0.2;
      transform-origin: left;
      transform: rotate(270deg);
      color: #3F4551;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @include subtitle-medium();
    }

    &__filter {
      width: 100%;
      padding: 0;
      margin-left: 0;
      margin-bottom: 88px;

      &-item,
      &-item:visited { padding: 4px 12px 0 }
    }

    &__title {
      position: absolute;
      top: 178px;
      right: -110px;
      margin: 0;
      padding: 0;
      font-size: 67px;
      line-height: 79px;
      will-change: transform;
      color: #3F4551;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
    }

    &__item {
      overflow: hidden;
      position: relative;
      top: -32px;
      margin-bottom: 55px;

      &:nth-child(even) {
        top: 55px;
      }

      &-footer {
        padding: 19px 25px;
      }

      &-text {
        font-size: 12px;
        line-height: 15px;
      }

      &-data {
        font-size: 14px;
        line-height: 23px;

        li {
          height: 24px;
          min-width: 38px;
          padding: 3px 7px;
          margin: 0 5px;
        }
      }
    }

    .btn {
      position: absolute;
      bottom: 0;
      right: 493px;
    }
  }
}
/*---------- /works ---------*/

