/*---------- works ----------*/
.works {
  position: relative;
  max-width: 935px;
  margin: 0 auto 30px;
  padding: 30px;
  z-index: 1;
  text-align: center;

  &.works_isotope {
    padding-top: 100px;

    .works__list {
      max-width: 440px;
      margin: 0 auto;
    }
  }

  &__scroll-down { display: none }

  &__title {
    display: block;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    color: #3F4551;
    font-size: 5vh;
    line-height: 9vh;
    text-transform: uppercase;
    @include title();
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 9px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    @include subtitle-bold();

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      min-width: 30px;
      padding: 4px 7px 0;
      margin: 0 5px 5px 0;
      border-radius: 100px;
      text-transform: uppercase;
      background-color: rgba(63,69,81,.2);
      transition: background-color .3s ease-in-out;
      cursor: pointer;
      user-select: none;

      &:hover,
      &.active { background-color: #0200FF }
    }
  }

  &__item {
    overflow: hidden;
    position: relative;
    width: calc(100vw - 60px);
    height: calc(100vw - 60px);
    max-width: 440px;
    max-height: 440px;
    margin-bottom: 20px;
    z-index: 1;
    background-color: #fff;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      content: '';
      background-color: rgba(2,0,255,0.7);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate(-100%, 0);
      transition-delay: .2s;
      backface-visibility: hidden;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      z-index: 2;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate(-100%, 0);
    }

    &.is-show {

      &:before {
        transform: translate(0);
        transition-delay: 0s;
      }

      img {
        transform: translate(0);
        transition-delay: .2s;
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 3;
      padding: 10px;
      background-color: #fff;
      text-align: left;
    }

    &-text {
      color: #3F4551;
      font-size: 10px;
      line-height: 12px;
      @include subtitle-medium();
    }

    &-data {
      display: flex;
      flex-wrap: wrap;
      color: #FFFFFF;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      @include title();

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        min-width: 28px;
        padding: 1px 4px;
        margin: 0 2px;
        border-radius: 100px;
        background-color: rgba(63,69,81,.2);
      }
    }
  }
}
@media (min-width: $phone-landscape) {
  .works {

  }
}
@media (min-width: $tablet-portrait) {
  .works {

  }
}
@media (min-width: $tablet-landscape) {
  .works {

  }
}
@media (min-width: $desktop) {
  .works {
    margin: 0 auto 100px;
    padding: 100px 0 0 0;
    text-align: left;

    &.works_isotope {
      margin: 0 auto 105px;
      padding: 148px 0 0 0;
      max-width: 1122px;

      .works__list {
        position: relative;
        top: -47px;
        max-width: 935px;
        margin: 0 auto;
      }

      .works__title {
        top: 0;
        right: auto;
        position: relative;
      }

      .works__item {
        top: 0;
        transform: translate(0, -32px);
        margin-bottom: 55px;

        &:nth-child(even) {
          top: 0;
          transform: translate(55px, 55px)
        }

        &.odd {
          transform: translate(0, -32px);

        }
        &.even {
          transform: translate(55px, 55px);
        }
      }
    }

    &__scroll-down {
      display: block;
      position: absolute;
      top: 60vh;
      left: 50%;
      opacity: 0.2;
      transform-origin: left;
      transform: rotate(270deg);
      color: #3F4551;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @include subtitle-medium();
    }

    &__filter {
      justify-content: flex-start;
      font-size: 16px;
      line-height: 23px;

      &-item {
        height: 24px;
        min-width: 38px;
        padding: 4px 12px 0;
        margin: 0 11px 11px 0;
      }
    }

    &__title {
      position: absolute;
      top: 178px;
      right: -110px;
      margin: 0;
      font-size: 67px;
      line-height: 79px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
    }

    &__item {
      overflow: hidden;
      position: relative;
      top: -32px;
      margin-bottom: 55px;

      &:nth-child(even) {
        top: 55px;
      }
    }

    .btn {
      position: absolute;
      bottom: 0;
      right: 493px;
    }


    &-footer {
      padding: 19px 25px;
    }

    &-text {
      font-size: 12px;
      line-height: 15px;
    }

    &-data {
      font-size: 14px;
      line-height: 23px;

      li {
        height: 24px;
        min-width: 38px;
        padding: 3px 7px;
        margin: 0 5px;
      }
    }
  }
}
/*---------- /works ---------*/

