/*---------- works ----------*/
.works {
  position: relative;
  max-width: 935px;
  margin: 0 auto 30px;
  padding: 30px 40px;
  z-index: 1;

  &.works_isotope {
    padding: 90px 30px 23px;

    .works__title {
      display: block;
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: 22px;
      padding-left: 15px;
    }

    .works__list {
      max-width: 440px;
      margin: 0 auto;
    }

    .works__item {
      display: block;
      overflow: hidden;
      width: calc(100vw - 68px);
      height: calc(100vw - 66px);
      background-color: transparent;

      &:hover {

        img {
          transform: scale(1.3);
          transition-duration: 10s;
        }
      }

      &-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transform: translate(0);
        transition: transform .3s ease-in-out .1s;
        background-color: #fff;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          content: '';
          background-color: rgba(2,0,255,0.7);
          backface-visibility: hidden;
        }
      }

      &-pic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        z-index: 2;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(-100%, 0);
      }

      &.hide { display: none }

      &.to-show {
        .works__item-wrap {
          transform: translate(0);
          animation: visible .3s ease-in-out 1;
        }
      }

      &-footer {
        padding: 14px 14px 14px 18px;
      }

      &-text {
        font-size: 11px;
        line-height: 14px;
        letter-spacing: .8px;
      }

      &-data {

        li {
          padding: 1px 10px;
        }
      }
    }
  }

  &__scroll-down { display: none }

  &__title {
    position: absolute;
    top: 50px;
    right: 18px;
    z-index: 2;
    color: #293A5A;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    @include title();

    &.works__title_left {
      right: auto;
      left: 18px;
    }
  }

  &__list {
    margin: 0 0 11px;
  }

  &__filter {
    width: 100vw;
    margin-bottom: 9px;
    margin-left: -30px;
    padding-left: 44px;
    white-space: nowrap;
    @include title();

    &-item,
    &-item:visited {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      min-width: 38px;
      padding: 1px 12px;
      margin: 0 6px 11px 0;
      font-size: 16px;
      line-height: 23px;
      border-radius: 100px;
      color: #FFFFFF;
      text-transform: uppercase;
      background-color: rgba(63,69,81,.2);
      transition: background-color .3s ease-in-out;
      cursor: pointer;
      user-select: none;

      &:hover,
      &.active { background-color: #0200FF }
    }
  }

  &__item {
    display: block;
    overflow: hidden;
    position: relative;
    width: calc(100vw - 68px);
    height: calc(100vw - 66px);
    max-width: 440px;
    max-height: 440px;
    margin-bottom: 20px;
    z-index: 1;
    background-color: #fff;
    top: -15px;

    &:nth-child(even) {
      top: 15px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      content: '';
      background-color: rgba(2,0,255,0.7);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate(-100%, 0);
      transition-delay: .2s;
      backface-visibility: hidden;
    }

    &.mobile-hide { display: none }

    &-pic {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      z-index: 2;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transform: translate(-100%, 0);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      z-index: 2;
      transition: transform .3s linear;
    }

    &.is-show {

      &:before {
        transform: translate(0);
        transition-delay: 0s;
      }

      .works__item-pic {
        transform: translate(0);
        transition-delay: .2s;
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 3;
      padding: 10px;
      background-color: #fff;
      text-align: left;
    }

    &-text {
      color: #3F4551;
      font-size: 10px;
      line-height: 12px;
      @include subtitle-medium();
    }

    &-data {
      display: flex;
      flex-wrap: wrap;
      color: #FFFFFF;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      @include title();

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        min-width: 28px;
        padding: 1px 4px;
        margin: 2px;
        border-radius: 100px;
        background-color: rgba(63,69,81,.2);
      }
    }
  }

  .btn {
    width: 100%;
  }
}
@media (min-width: $phone-landscape) {
  .works {

  }
}
@media (min-width: $tablet-portrait) {
  .works {

  }
}
@media (min-width: $tablet-landscape) {
  .works {

  }
}
@media (min-width: $desktop) {
  .works {
    margin: 0 auto 100px;
    padding: 100px 0 0 0;

    &.works_isotope {
      margin: 0 auto 105px;
      padding: 148px 0 0 0;
      max-width: 1122px;

      .works__list {
        position: relative;
        top: -36px;
        max-width: 935px;
        margin: 0 auto;
        left: 2px;
      }

      .works__title {
        position: absolute;
        top: 192px;
        left: 0;
        right: auto;
      }

      .works__item {

        &.odd {
          top: -32px;
        }

        &.even {
          top: 55px;
        }

        &-footer {
          padding: 24px 24px 24px 27px;
        }

        &-text {
          font-size: 12px;
          line-height: 15px;
        }

        &-data {
          font-size: 14px;
          line-height: 23px;

          li {
            height: 24px;
            min-width: 38px;
            padding: 3px 7px;
            margin: 0 5px;
          }
        }
      }
    }

    &__scroll-down {
      display: block;
      position: absolute;
      top: 60vh;
      left: 50%;
      opacity: 0.2;
      transform-origin: left;
      transform: rotate(270deg);
      color: #3F4551;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      @include subtitle-medium();
    }

    &__filter {
      width: 100%;
      padding: 0;
      margin-left: 0;
      margin-bottom: 88px;

      &-item,
      &-item:visited {
        height: 24px;
        min-width: 38px;
        padding: 3px 13px;
        margin: 0 5px;
        font-size: 16px;
        line-height: 23px;
      }
    }

    &__title {
      position: absolute;
      top: 178px;
      right: -110px;
      margin: 0;
      padding: 0;
      font-size: 67px;
      line-height: 79px;
      color: #3F4551;

      &.works__title_left {
        top: 69px;
        right: auto;
        left: -93px;
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__item {
      overflow: hidden;
      position: relative;
      top: -32px;
      margin-bottom: 55px;

      &:nth-child(even) {
        top: 55px;
      }

      &:hover img {
        transform: scale(1.3);
        transition-duration: 10s;
      }

      &.mobile-hide { display: block }

      &-footer {
        padding: 19px 25px;
      }

      &-text {
        font-size: 12px;
        line-height: 15px;
      }

      &-data {
        font-size: 14px;
        line-height: 23px;

        li {
          height: 24px;
          min-width: 38px;
          padding: 3px 7px;
          margin: 0 5px;
        }
      }
    }

    .btn {
      position: absolute;
      bottom: 0;
      right: 493px;
      width: auto;

      &.works__btn {
        position: relative;
        right: auto;
        margin: 58px auto 177px;
        display: block;
        width: 190px;
      }
    }
  }
}
@-webkit-keyframes hide {
  0%   { transform: translate(0) }
  100% { transform: translate(-100%,0); }
}
@keyframes hide {
  0%   { transform: translate(0) }
  100% { transform: translate(-100%,0); }
}
@-webkit-keyframes visible {
  0%   { transform: translate(-100%, 0) }
  100% { transform: translate(0) }
}
@keyframes visible {
  0%   { transform: translate(-100%, 0) }
  100% { transform: translate(0) }
}
/*---------- /works ---------*/

