@font-face {
  font-family: "KohinoorBangla-Regular";
  src: url("../fonts/KohinoorBangla-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KohinoorBangla-Bold";
  src: url("../fonts/KohinoorBangla-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KohinoorBangla-Medium";
  src: url("../fonts/KohinoorBangla-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KohinoorBangla-Light";
  src: url("../fonts/KohinoorBangla-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}